<p> Succesffully connected to server</p>

<div class= "addContainer">
    <h1>Add a Burger!</h1>
    <form>
        <div class="form-group">
            <input class="form-control" id="addBurger" type="text">
            <button class="btn btn-danger" id="newBurger" type="submit">Add!</button>
        </div>
    </form>
</div>

<div class="burgersContainer">
    <div class="row">
        <h1>Eat a Burger</h1>
    </div>
    {{#each burger_data}}
    {{#unless this.devoured}}
    <div class=burgerDiv>
        <span>
            <h3> {{this.id}}. {{this.burger_name}} </h3>
            <form method="POST" action="/burgers/devour?_method=PUT">
                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                <button type="submit" class="btn btn-primary">DEVOUR IT!</button>
            </form>
        </span>
    </div>
    {{/unless}}
    {{/each}}
    <div class="devouredDiv">
        <h2>Devoured Burgers: </h2>
        {{#each burger_data}}
        {{#if this.devoured}}
        <p>{{this.burger_name}}</p>
        {{/if}}
        {{/each}}
    </div>
</div>